<div class="banner-image">
  <div class="image">@Html.Sitecore().Field("Banner Image")</div>

  <div class="text">
    <h1>@Html.Sitecore().Field("Banner Title")</h1>
    <h2>@Html.Sitecore().Field("Banner Subtitle")</h2>
  </div>
</div>