<footer>

  <style>
    .content {
      text-align: center;
    }

    p {
      display: inline-block;
      line-height: 25px;
      vertical-align: top;
    }

    img {
      width: 50px;
      height: 50px;
      display: inline-block;
    }
  </style>

  <div class="content">
    <img src="..\..\wwwroot\bmw_logo.png">
    <p> BMW - Bawarian Motor Works </p>
  </div>

</footer>