@using Sitecore.Mvc

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="../../../wwwroot/bmw_logo.ico">
  <title>@Html.Sitecore().Field("Page Title", new {DisableWebEdit = true})</title>
</head>
<body>
  <div>
    @Html.Sitecore().Rendering("{8BA71A71-CFB2-430E-8F73-4AA1C9311426}")
  </div>
</body>
</html>