<div class="product">
  <div class="product_image" style="text-align:center">
    @Html.Sitecore().Field("Image")
  </div>

  <h2 class="product_image" style="text-align: center">
    @Html.Sitecore().Field("Mark") - (@Html.Sitecore().Field("Price"))
  </h2>
</div>