<div class="banner-video">
  <video id="video" width="1200" height="600" autoplay loop muted>
    <source src="@Feature.Banner.Constants.BannerVideo" type="video/mp4">
    Your browser does not support this video.
  </video>

  <script>
      document.getElementById("video").play();
  </script>
</div>  