@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items;
@model RenderingModel
@{
  var contactsItem = Sitecore.Context.Database.Items.GetItem("/sitecore/Content/BMW/Contacts");
  var contacts = new List<Item>(contactsItem.Children);
}

<div class="contact">
  @foreach (var contact in contacts)
  {
    if (string.IsNullOrEmpty(Html.Sitecore().Field("Country", contact).ToString()))
    {
      continue;
    }

    var contactOutput = string.Format("{0}: {1}\\n{2}: {3}\\nEmail: {4}", 
      Sitecore.Globalization.Translate.Text("Country"), 
      Html.Sitecore().Field("Country", contact), 
      Sitecore.Globalization.Translate.Text("Telephone"), 
      Html.Sitecore().Field("Telephone", contact), 
      Html.Sitecore().Field("Email", contact));

    <button class="contact-button" onclick="alert('@contactOutput')">
      @Html.Sitecore().Field("Country Flag", contact, new { mh = 225, mw = 225 })
    </button>
  }
</div>