@using Sitecore.Mvc
@{
  Layout = "Base/_layout.cshtml";
}

<div>
  <h1 style="text-align: center;">@Html.Sitecore().Field("Page Title")</h1>
  <br />
</div>

<div>
  @Html.Sitecore().Rendering(Project.BMW.Constants.ContactRendering)
</div>
<br />