@using Sitecore.Mvc
@{
  Layout = "Base/_layout.cshtml";
}

@* Page Title *@
<div>
  <h1 style="text-align: center;">@Html.Sitecore().Field("Page Title")</h1>
  <br />
</div>

@* Contacts *@
<div>
  @Html.Sitecore().Rendering("{A8EBA6BA-C0D9-4DCF-A143-BB1F1A14AA0C}")
</div>
<br />