@using Sitecore.Mvc
@{
  Layout = "Base/_layout.cshtml";
}

@* Banner Image [Previous version] *@
@*<div>
    @Html.Sitecore().Rendering("{CA72E5F8-3531-4E7C-B293-2EA8792A0751}")
  </div>
  <br />*@

@* Banner Video *@
<div>
  @Html.Sitecore().Rendering("{3620B424-3C75-4617-A9C4-2A3BB37156E2}")
</div>
<br />