@using Sitecore.Mvc
@{
  Layout = "Base/_layout.cshtml";
}

<div>
  <h1 style="text-align: center">@Html.Sitecore().Field(Project.BMW.Constants.LogoField, new { mh = 100, mw = 100 })</h1>
  <h1 style="text-align: center">@Html.Sitecore().Field(Project.BMW.Constants.PageTitleField)</h1>
  <br/>
</div>

<div>
  @Html.Sitecore().Field(Project.BMW.Constants.PolicyTextField)
</div>