<section class="hero">
  <div class="banner">
    <div class="banner-image">
      @Html.Sitecore().Field("Banner Image")
    </div>

    <div class="banner-text">
      <h1 class="title">@Html.Sitecore().Field("Page Title")</h1>
      <h2 class="title">@Html.Sitecore().Field("Page Subtitle")</h2>
    </div>
  </div>
</section>