@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    
}

<div class="contact">
  <div class="product_image"> @Html.Sitecore().Field("Country") </div>
  <div class="product_image"> @Html.Sitecore().Field("Telephone") </div>
  <div class="product_image"> @Html.Sitecore().Field("Email") </div>
</div>