@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items;
@model RenderingModel
@{
  var contactsItem = Sitecore.Context.Database.Items.GetItem("/sitecore/Content/BMW/Contacts");
  var contacts = new List<Item>(contactsItem.Children);
}

<div class="contact">
  @for (var i = 0; i < contacts.Count; i++)
  {
    var contact = contacts[i];
    var contactOutput = "Country: " + Html.Sitecore().Field("Country", contact).ToString() +
                        "\\nTelephone: " + Html.Sitecore().Field("Telephone", contact).ToString() +
                        "\\nEmail: " + Html.Sitecore().Field("Email", contact).ToString();

    <button class="contact-button" onclick="alert('@contactOutput')">
      @Html.Sitecore().Field("Country Flag", contact, new { mh = 225, mw = 225 })
    </button>

    if (i == 3)
    {
      <br />
    }
  }
</div>