<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.Product" description="Product content" dependencies="Foundation.*">
          <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
          <predicate>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Product" />
            <include name="Media" database="master" path="/sitecore/media library/Project/BMW/Product" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>