<div class="product">
  <div class="product_image" style="text-align:center">
    @Html.Sitecore().Field("Image") 
  </div>

  <div class="product_image" style="text-align: justify; margin-left: 50px; margin-right: 50px; margin-bottom: 50px;">
    @Html.Sitecore().Field("Description")
  </div>
</div>