@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items;
@model RenderingModel
@{

  var contentItem = Sitecore.Context.Database.Items.GetItem("/sitecore/Content/BMW");
  var pages = new List<Item>(contentItem.Children);
}

<footer class="footer">
  <style>
    .footer {
      width: 100%;
      position: relative;
    }

    .footer-container {
      clear: both;
      overflow: auto;
    }

    .footer-logo {
      float: left;
      margin-top: 5px;
      margin-left: 15px;
      display: flex;
      width: 70px;
      height: 70px;
    }

    .footer-navbar {
      overflow: hidden;
      background-color: #333;
      font-family: Arial, Helvetica, sans-serif;
      height: 75px;
      margin-left: 105px;
    }

      .footer-navbar a {
        float: left;
        font-size: 18px;
        color: white;
        text-align: center;
        padding: 30px 30px;
        text-decoration: none;
      }

        .footer-navbar a:hover {
          background-color: red;
        }
  </style>
  <div class="footer-container">
    <div class="footer-logo">@Html.Sitecore().Field("Footer Logo")</div>

    <div class="footer-navbar">
      @foreach (var page in pages)
      {
        <a href="@Sitecore.Links.LinkManager.GetItemUrl(page)">@Html.Sitecore().Field("__Display Name", page)</a>
      }
    </div>
  </div>
</footer>