<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.BMW" description="BMW Site content" dependencies="Foundation.*,Feature.*">
          <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
          <predicate>
            <!-- Content -->
            <include name="Content" database="master" path="/sitecore/Content/BMW" />

            <!-- Layout -->
            <include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/BMW" />

            <!-- Templates -->
            <include name="Templates" database="master" path="/sitecore/Templates/Project/BMW" />

            <!-- Dictionary -->
            <include name="Dictionary" database="master" path="/sitecore/System/Dictionary/BMW" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>