@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items;
@model RenderingModel
@{
  var contentItem = Sitecore.Context.Database.Items.GetItem("/sitecore/Content/BMW");
  
  var pages = new List<Item>(contentItem.Children);
}

<footer>
  <div class="footer-container">
    <div class="footer-logo">@Html.Sitecore().Field("Footer Logo")</div>

    <div class="footer-navbar">
      @foreach (var page in pages)
      {
        var pageName = Html.Sitecore().Field("Page Title", page);
        if (!string.IsNullOrEmpty(pageName.ToString()))
        {
          <a href="@Sitecore.Links.LinkManager.GetItemUrl(page)">@pageName</a>
        }
      }
    </div>

    <div class="footer-text">@Html.Sitecore().Field("Footer Text")</div>
  </div>
</footer>