@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
  Layout = "../Base/_layout.cshtml";
}

<div>
  <div>
    <h1 style="text-align: center;">@Html.Sitecore().Field(Project.BMW.Constants.PageTitleField)</h1>
    <br/>
  </div>
  
  <div>
    @Html.Sitecore().Rendering(Project.BMW.Constants.AvailableProductsRendering)
    <br/>
  </div>

  <div>
    @Html.Sitecore().Rendering(Project.BMW.Constants.ProductsByCountryFrontRendering)
    <br/>
  </div>
</div>