@using Sitecore.Mvc
@{
    Layout = "../Base/_layout.cshtml";
}

<div>
  <h1 style="text-align: center;">German Products Catalog</h1>
  <br />
</div>

<div>
  @Html.Sitecore().Rendering("{A850AD36-A918-48D5-8D78-5D9C08EF03F5}")
</div>
<br />