@using Sitecore.Mvc
@{
  Layout = "../Base/_layout.cshtml";
}

<div>
  <link rel="stylesheet" href="../../../../wwwroot/Css/style.css">
  <link rel="stylesheet" href="../../../../wwwroot/FontAwesome/css/all.css">
  <link rel="shortcut icon" href="../../../../wwwroot/Media/bmw_logo.ico">

  <div>
    <h1 style="text-align: center;">@Html.Sitecore().Field(Project.BMW.Constants.PageTitleField)</h1>
    <br/>
  </div>

  <div>
    @Html.Sitecore().Rendering(Project.BMW.Constants.ProductsByCountryRendering, new
    {
      Parameters = Project.BMW.Constants.CountryParameter + Html.Sitecore().Field(Project.BMW.Constants.CountryField)
    })
    <br/>
  </div>
</div>