@using Sitecore.Mvc
@{
  Layout = "../Base/_layout.cshtml";
}

<div>
  @Html.Sitecore().Rendering(Project.BMW.Constants.ProductBannerRendering)
  <br />
</div>

<div>
  @Html.Sitecore().Rendering(Project.BMW.Constants.ProductDescriptionRendering)
  <br />
</div>