@using Sitecore.Mvc
@{
  Layout = "../Base/_layout.cshtml";
}

<div>
  <h1 style="text-align: center;">Машины Российского завода БМВ</h1>
  <br />
</div>

@* Russian Products Controller Rendering *@
<div>
  @Html.Sitecore().Rendering("{BF37661B-C976-49EC-BEC0-91CDED9C783F}")
</div>
<br />