@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items;

@model RenderingModel
@{
  var contactsItem = Sitecore.Context.Database.Items.GetItem("/sitecore/Content/BMW/Contacts");
  var contacts = new List<Item>(contactsItem.Children);
}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../../../Css/style.css">
  <link rel="shortcut icon" href="../../../wwwroot/bmw_logo.ico">
  <title>@Html.Sitecore().Field("Page Title", contactsItem, new { DisableWebEdit = true })</title>
</head>

<body>
  @* Header *@
  <div>
    @Html.Sitecore().Rendering("{D67FE4A6-F41D-4A5D-8D04-2E728C22E1FF}")
  </div>
  <br />

  <style>
    .contact-button {
      border: solid;
      margin-left: 75px;
      margin-top: 30px;
    }
  </style>

  <div class="contact" style="text-align:center">
    @for (var i = 0; i < contacts.Count; i++)
    {
      var contact = contacts[i];
      var contactOutput = "Country: " + Html.Sitecore().Field("Country", contact).ToString() +
                          "\\nTelephone: " + Html.Sitecore().Field("Telephone", contact).ToString() +
                          "\\nEmail: " + Html.Sitecore().Field("Email", contact).ToString();

      <button class="contact-button" onclick="alert('@contactOutput')">
        @Html.Sitecore().Field("Country Flag", contact, new { mh = 225, mw = 225 })
      </button>

      if (i == 3)
      {
        <br />
      }
    }
  </div>
  <br />

  @* Footer *@
  <div>
    @Html.Sitecore().Rendering("{F9FDED76-28E3-4EDB-B74F-A5353EC880AF}")
  </div>
</body>
</html>