@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    var productsItem = Sitecore.Context.Database.Items.GetItem("{2D930278-80FB-4176-B092-A94FCD6B8DA6}");
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../Project/style.css">
    <link rel="shortcut icon" href="../../../wwwroot/bmw_logo.ico">
    <title>@Html.Sitecore().Field("Page Title", productsItem, new { DisableWebEdit = true })</title>
</head>

<body>
    @* Header *@
    <div>
      @Html.Sitecore().Rendering("{D67FE4A6-F41D-4A5D-8D04-2E728C22E1FF}")
    </div>

    <div>
      @Html.Sitecore().Placeholder("contact")
    </div>

    @* Footer *@
    <div>
      @Html.Sitecore().Rendering("{F9FDED76-28E3-4EDB-B74F-A5353EC880AF}")
    </div>
</body>
</html>